<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brofistcorp.fingergym" version="1.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Finger Gym</name>
    <description>
        Set the weight of the bar and try to get to the top!
    </description>
    <author email="brofistoficial@gmail.com" href="http://facebook.com/brofistcorp">
        BroFist Corp
    </author>
    <content src="index.html" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.NetworkManager" />
    </feature>
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/assets/icon-72px.png" density="hdpi" />
    </platform>
</widget>
